
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image {
  position:absolute;
  bottom: 35%;
  left: 7%;
  /* border: 1px solid red; */
  height: 200px;
  width:200px;
}

img {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 400px;
}

#container {
overflow: auto;
height: 100%;
padding: 2%;
/* display: flex;
flex-direction: column; */
display: grid;
align-content: flex-start;
gap: 0.6rem;
}

#canvascont {
  display: block;
  width: 100%;
  height: 600px;
}

.visualizer {
  border-radius: 1em;
}

section {
  height: 100%
}

.main-controls {
  height: fit-content;
  margin-top: 20px;
  /* padding-top:20px */
}

.prompt {
  height: fit-content;
  width: fit-content;
  overflow-wrap: break-word;
  max-width: 40%;
  text-align: right;
  margin: 2%;
  border: 1px solid red;
  padding: 1%;
  text-align: left;
  justify-self: right;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
}

.response {
  height: fit-content;
  overflow-wrap: break-word;
  text-align: left;
  margin: 2%;
  max-width: 40%;
  width: fit-content;
  padding: 1%;
  border: 1px solid blue;
  background-color: #56a3ef4f;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  text-align: left;
  justify-self: left;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  /* background-color: #ddd; */
  background-color: rgb(200 206 212);
  border: 2px solid blue;
  border-radius: 1em;
  padding: 10px;
  height: 40%;
  width: 97%;
  display: flex;
  flex-direction: row;
}

#welcome {
  width: 30%;
  height: 100%;
  margin-right:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.top {
width: 70%;
background-color: rgb(255 255 255);
margin-left: 10px;
border-radius: 1em;
}

/* .sound-clips
{
  height: calc(100% - 200px);
} */

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

.buttons {
  margin-top:20px;
  height: 150px;
}

#msginput {
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #a61eff;
  height: auto;
  border-radius: 1em;
}

.currentmessage {
  text-align: left;
  display: block;
  overflow: auto;
  resize: none;
  margin: 0;
  height: 25.5px;
  background-color: white;
  padding-left: 8px;
  line-height: 25.5px;
  font-size: 11pt;
  white-space: normal;
  border-radius: 5px;
  font-family: "silkscreenfonth3";
  color:green;
  width: calc(100% - 60px);
  border: none;
}

#sendbutton {
  width: 50px;
  height: 25.5px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15%;
}

#okthx {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border: 1px solid green;
  background-color: greenyellow;
  color: black;
  position: absolute;
  bottom:45%;
  right: 30%;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 0 50px 15px #48abe0;
}

.sendmessage {
  background-color: #d18bffa3;
  border: 1px solid white;
  color: white;
  /* padding: 12px 16px; */
  font-size: 12px;
  cursor: pointer;
  border-radius: 15%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.clicked {
  background-color: rgb(1, 132, 32);
}

/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a61eff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}